  <%# ヘッダー %>
<%= render "shared/header" %>
  <%# ヘッダー %>

<div class='main'>

  <%# 画面上部のstaviewsタイトル画像部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      自分たちの商品をレビューしよう！
    </h2>
    <p class='service-explain'>
      staviewsは、従業員同士で商品の感想をシェアできるアプリです。
    </p>
  </div>
  <%# 画面上部のstaviewsタイトル画像部分 %>
</div>

  <%# 投稿ボタン %>
<%= link_to(new_review_path , class: 'purchase-btn', data: { turbo: false }) do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'comment.png' , size: '185x70' ,class: "purchase-btn-icon" %>
<% end %>
  <%# 投稿ボタン %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>投稿レビュー</h2>

    <ul class='item-lists'>

      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開 %>
      <% @reviews.each do |review| %>
      <li class='list'>
      <%= link_to review_path(review.id) do %>
      <div class='item-img-content'>
        <% if review.images.present? %>
          <%= image_tag review.images[0], class: "item-img" %>
        <% else %>
          <%= image_tag 'sample-user.png', class: "item-img", alt: "Sample Image" %>
        <% end %>
      </div>

        <div class='item-info'>
          <h3 class='item-name'>
            <%= review.title %>
          </h3>
          <div class='product-name'>
            <%= review.product_name %>
          </div>
          <div class='user-info-index'>
          <div class='avatar-img-content'>
            <%= image_tag(current_user.avatar.attached? ? current_user.avatar : 'sample-user.png', class: "avatar-img", id: "user-avatar", alt: "Sample Avatar") %>
          </div>
          <div class='product-name'>
            <%= review.user.affiliation %>
            <%= review.user.position %></br>
            <%= review.user.name %>
           </div>
          </div>



        </div>
      <% end %>
      </li>
      <% end %>

      <%# //商品がない場合は以下のダミー商品を表示 %>

    </ul>

  </div>
  <%# /商品一覧 %>

  <%# フッター %>
<%= render "shared/footer" %>
  <%# フッター %>