<%= render "shared/second-header"%>

<%# 投稿の概要 %>
<div class="item-show">
  <div class="item-box">
   <div class="item-img-content">
    <% if @review.images.attached? %>
     <% @review.images.each do |image| %>
     <%= image_tag image.variant(resize: '500x500') %>
     <% end %>
    <% end %>
    </div>

    <h2 class="name">
      <%= @review.title %>
    </h2>
      <div class="item-postage">
        <%= @review.user.affiliation  %>
        <%= @review.user.position  %>
        <%= @review.user.name  %>
      </div>
 
   <%# ユーザーによって表示ボタンを変える %>
    <div>
    <% if user_signed_in? %>
      <% if current_user.id == @review.user_id %>

        <%= link_to "投稿の編集", edit_review_path, method: :get, class: "item-red-btn" %>
        <%= link_to "投稿の削除",  review_path(@review.id), data: { turbo_method: :delete }, method: :delete, class:"item-destroy" %>

      <% end %>
    <% end %>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= Category.find(@review.category_id).name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品名</th>
          <td class="detail-value"><%= @review.product_name %></td>
        </tr>
        <tr>
          <th class="detail-item">メーカー</th>
          <td class="detail-value"><%= @review.brand %></td>
        </tr>
        <tr>
          <th class="detail-item">購入日</th>
          <td class="detail-value"><%= @review.purchase_date %></td>
        </tr>
        <tr>
          <th class="detail-item">使用者</th>
          <td class="detail-value"><%= @review.user_type %></td>
        </tr>
        <tr>
          <th class="detail-item">購入理由について</th>
          <td class="detail-value"><%= @review.positive_point %></td>
        </tr>
        <tr>
          <th class="detail-item">実際に使ってみた感想</th>
          <td class="detail-value"><%= @review.negative_point %></td>
        </tr>
        <tr>
          <th class="detail-item">こんなお客様におすすめしたい</th>
          <td class="detail-value"><%= @review.recommendation %></td>
        </tr>

      </tbody>
    </table>

    <div class="option">
      <div class="favorite-btn">
      <div id="favorite-btn<%= @review.id %>">
        <%= image_tag "light-icon.png" ,class:"favorite-light-icon" ,width:"22",height:"22"%>

    <%= render partial: "helpfuls/helpful", locals: { review: @review } %>

      </div>
    </div>

  </div>
  <%# /商品の概要 %>

  <%# /コメント欄 %>


    <div class="comments">

        <p class="comment-warn">
        コメント一覧
        </p>

<% if @comments.blank? %>
  <p class="no-comments-message">この投稿に対する質問・コメントはこちらからお願いします。</p>
<% else %>
    <% @comments.each do |comment| %>
    <div class="comments-index">
      <div class='comment-user-info-index'>
        <div class='avatar-img-content'>
          <% if comment.user.avatar.attached? %>
               <%= link_to user_path(comment.user.id) do %>
               <%= image_tag comment.user.avatar, class: "avatar-img", id: "user-avatar", alt: "User Image" %>
               <% end %>
             <% else %>
               <%= link_to user_path(comment.user.id) do %>
               <%= image_tag 'sample-user.png', class: "avatar-img", id: "user-avatar", alt: "Sample Image" %>
               <% end %>
             <% end %>
        </div>
        <div class='comment-user-info'>
          <%= link_to user_path(comment.user.id) do %>
          <%= comment.user.affiliation %>
          <%= comment.user.name %>
          <% end %>
        </div>
      </div>
      <div class='comment-content'>
      <%= comment.content %>
      </div>
    </div>
      <% end %>
<% end %>

  <div class="comment-box">
      <% if user_signed_in? %>
       <%= form_with(model: [@review, @comment], local: true) do |form| %>
       <%= form.text_area :content, placeholder: "質問・コメントをする", rows: "2", class: "comment-text" %>
       <%= form.submit "コメントする", class: "comment-btn" %>
       <% end %>
      <% else %>
       <strong><p class="comment-login-warn">
        ※※ コメントの投稿には新規登録/ログインが必要です ※※
        </p></strong>
      <% end %>
  </div>

    </div>



    <%# /コメント欄 %>

<%= render "shared/footer" %>